nodeRed/config.json
[
    {
        "id": "92a0f6fc.b5e148",
        "type": "tab",
        "label": "HTTP actions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bcf5ca6.0b03038",
        "type": "http in",
        "z": "92a0f6fc.b5e148",
        "name": "",
        "url": "/action",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "16ab13ad.ead6ac"
            ]
        ]
    },
    {
        "id": "16ab13ad.ead6ac",
        "type": "json",
        "z": "92a0f6fc.b5e148",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "942dc2c4.85f1b",
                "90ca2277.9208e",
                "fb99043c.101548",
                "c1b196e5.0735a8"
            ]
        ]
    },
    {
        "id": "e08ba5fb.ff3cd8",
        "type": "link out",
        "z": "92a0f6fc.b5e148",
        "name": "outlets",
        "links": [
            "7f21a9e4.5db0b8"
        ],
        "x": 595,
        "y": 100,
        "wires": []
    },
    {
        "id": "942dc2c4.85f1b",
        "type": "function",
        "z": "92a0f6fc.b5e148",
        "name": "outlets",
        "func": "if (msg.payload.category === \"outlets\") {\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "e08ba5fb.ff3cd8"
            ]
        ]
    },
    {
        "id": "3f76dc98.618cd4",
        "type": "link out",
        "z": "92a0f6fc.b5e148",
        "name": "scenes",
        "links": [
            "56c843a5.8a902c"
        ],
        "x": 595,
        "y": 140,
        "wires": []
    },
    {
        "id": "90ca2277.9208e",
        "type": "function",
        "z": "92a0f6fc.b5e148",
        "name": "scenes",
        "func": "if (msg.payload.category === \"scenes\") {\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "3f76dc98.618cd4"
            ]
        ]
    },
    {
        "id": "755683b6.5efecc",
        "type": "link out",
        "z": "92a0f6fc.b5e148",
        "name": "system",
        "links": [
            "b40da46.4708e58"
        ],
        "x": 595,
        "y": 180,
        "wires": []
    },
    {
        "id": "fb99043c.101548",
        "type": "function",
        "z": "92a0f6fc.b5e148",
        "name": "system",
        "func": "if (msg.payload.category === \"system\") {\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "755683b6.5efecc"
            ]
        ]
    },
    {
        "id": "b6ad6d2b.caa92",
        "type": "mqtt out",
        "z": "92a0f6fc.b5e148",
        "name": "",
        "topic": "home/remotes/http",
        "qos": "",
        "retain": "",
        "broker": "b56a1133.b25be",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "c1b196e5.0735a8",
        "type": "function",
        "z": "92a0f6fc.b5e148",
        "name": "remote",
        "func": "var received = msg.payload;\n\nif (received.category == \"remote\") {\n    msg = {\n        \"payload\": received.device,\n    };\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "b6ad6d2b.caa92"
            ]
        ]
    },
    {
        "id": "d5963649.6f6fa8",
        "type": "mqtt in",
        "z": "92a0f6fc.b5e148",
        "name": "",
        "topic": "home/remotes/http",
        "qos": "2",
        "datatype": "auto",
        "broker": "b56a1133.b25be",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "45e6da52.38d274"
            ]
        ]
    },
    {
        "id": "45e6da52.38d274",
        "type": "mqtt out",
        "z": "92a0f6fc.b5e148",
        "name": "",
        "topic": "home/remotes/main",
        "qos": "",
        "retain": "",
        "broker": "b56a1133.b25be",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "b56a1133.b25be",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]